<h2>Create a New List</h2>

<%= form_for @list do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <%= f.submit "Create List", class: "btn btn-primary" %>
<% end %>

<br>
<br>

<%= link_to "Back to lists", lists_path, class: "btn btn-secondary"%>
